@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}

body {
    background-color: hsl(0, 0%, 98%);
}

ul {
    list-style: none;
    padding: 0;
    position: relative;
}

li {
    padding: 0px 25px;
}

header {
    background-color: hsl(0, 0%, 98%);
    position: fixed;
    width: 100vw;
    padding: 15px;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0px 50px;
}

.sections, .login {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 8%);
}

.hidden {
    display: none;
}

.innerList {
    position: absolute;
    top: 50px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

#features > ul {
    left: -50px;;
}

.innerList > li {
    padding: 10px 5px;
}

#careers {
    color: hsl(0, 0%, 41%);
}

#register {
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
}

.menu {
    display: none;
}

/* Main */

main {
    padding: 150px 100px;
    display: flex;
    justify-content: space-between;  
}

main > * {
    flex: 1;
    flex-grow: 0;
}

div.maindiv {
    align-self: center;
}

main > img {
    max-width: 450px;
    max-height: 600px;
}

div.maindiv {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.mainitem {
    padding: 25px 0px;
}

h2.mainitem {
    font-size: 76px;
}

div.mainitem {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button.mainitem {
    cursor: pointer;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

button.mainitem:hover {
    background-color: hsl(0, 0%, 98%);;
    color: black;
}

.mobile-image {
    display: none;
}


@media (max-width: 950px) {
    header {
        justify-content: space-between;
    }

    header > div {
        height: 100vh;
        background-color: white;
    }

    .navbar {
        position: fixed;
        right: 0;
        top: 0;
    }

    #register {
        padding: 15px 50px;
    }

    .navbar, .sections, .login {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 0;
    }

    header ul {
        width: 150px;
        margin: 20px;
    }

    ul, .innerList {
        position: static;
    }

    .innerList, li {
        padding: 10px 5px;
        box-shadow: none;
    }

    .login {
        align-items: center;
    }

    .menu {
        cursor: pointer;
        display: block;
        align-self: flex-end;
        padding: 20px 30px;
    }

    .mobile {
        display: none;
    }

    img.mobile {
        display: block;
    }

    main {
        flex-direction: column;
        gap: 50px;
    }

    main > div {
        order: 1;
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
    }

    main > img {
        max-width: 950px;
    }
}

@media (min-width: 950px) and (max-width: 1150px) {
    main {
        padding-left: 0;
        padding-right: 0;
    }
}